/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[hidden] {
    display: none;
}

/* Убираем стандартные стили для фокуса */
:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Можно настроить под свой дизайн */
}

@font-face {
    font-family: 'rubicBold';
    src: url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'latoRegular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    background-color: #202020;
    color: #fff;
    font-family: 'latoRegular', sans-serif;
}

.content {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;   
}

.header {
    padding-top: 50px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header__nav__logo {
}

.header__nav__list {
    margin: 0 auto;
}

.header__nav__list__ul {
    display: flex;
    gap: 50px;
}

.header__nav__list__ul__item {
}

.header__nav__list__burder_menu {
    display: none;
    gap: 4px;
    margin-left: auto;
}

.header__nav__list__burder_menu__item {
    flex-direction: column;
    width: 20px;
    height: 1px;
    background-color: #f27520;
}

.header__offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__offer__about {
}

.header__offer__title {
}

.header__offer__title__text {
    font-family: 'rubicBold', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.header__offer__description {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    max-width: 658px;
}

.header__offer__button {
    button {
        padding: 16px 38px;
        background: #f27520;
        border-radius: 10px;
    }
}

.header__offer__img {
    max-width: 512px;
    max-height: 512px;
}

@media (max-width: 430px) {

    .header {
        padding-top: 10px;
    }

    .header__nav__logo {
        img {
            width: 30px;
            height: 30px;
        }
    }

    .header__nav__list {
        display: none;
    }

    .header__nav__list__burder_menu {
        display: flex;
        flex-direction: column;
        

    }

    .header__offer__title__text {
        font-family: 'rubicBold', sans-serif;
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }
    .header__offer__description {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }
    .header__offer__button {
        display: flex;
        justify-content: center;
        button {
            padding: 10px 25px;
            font-size: 12px;
            background: #f27520;
            border-radius: 10px;
        }
    }
    .header__offer__img {
        display: none;
    }
}